body {
  background-color: #00000004;
  display: flex;
  font-family: monospace;
  font-size: 16px;
  color: #000c;
}

section {
  background-color: #fff;
  /* border: 1px solid #0001; */
  border-radius: 6px;
  box-shadow: 0px 0px 18px 1px #0000000c;
  margin: 20px;
  display: inline-block;
  padding: 40px;
}

h1 {
  margin: 0 0 1rem 0;
  padding: 0;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #0006;
  margin: 1rem 0;
}

button, input {
  background-color: #fff;
  border: 1px solid #0002;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 0px #0001;
  color: #000;
  font-family: inherit;
  transition: transform 100ms ease-out;
  padding: .6rem 1rem;
  margin: 1rem .3rem;
}
button:focus, input:focus {
  outline: none;
  transform: scale(1.05);
  box-shadow: 0px 0px 6px 3px #0001;
}
button:active, input:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px 0px #0001;
}

button {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.existingContracts ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existingContracts ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existingContracts ul > li > div {
  margin: 0 5px;
}

.existingContracts ul > li > :first-child {
  font-weight: bold;
}

.existingContracts .complete {
  color: #5aa75a;
  text-align: center;
}
